// Fonts
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}

body{
    background-color: black;
}

.bg-image{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background-image: url('/public/images/main-image.jpg');
    background-size: cover;
}

.bg-image-gradient{
    position: absolute;
    top: 50vh;
    z-index: -1;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.01), rgb(0, 0, 0, 1));
}

.container{
    --bs-gutter-x: 10rem;
    @include media-breakpoint-down(md){
        --bs-gutter-x: 3rem;
    }
}

a.btn.btn-light{
    color: $accent-blue;
}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.custom-login-btn{
    width: 80px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 700;

    --bs-btn-hover-border-color: white; 
    --bs-btn-hover-color: #007bff;
    --bs-btn-hover-bg: white;

    --bs-btn-active-color: white;
    --bs-btn-active-bg: limegreen;
    --bs-btn-active-border-color: limegreen;
}

// Login Form

.custom-login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;

    color: white;
    background-color: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 40px black;
    
    a{
        color: white;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    a:hover{
        color: $dark-blue;
    }
}

.custom-submit-btn{
    background-color: $primary-blue;
    color: white;
    width: 100px;
    transition: .3s ease-in-out;

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #00a500;
    --bs-btn-hover-border-color: #00a500;

    --bs-btn-active-color: white;
    --bs-btn-active-bg: #00a500;
    --bs-btn-active-border-color: #00a500;
}

@include media-breakpoint-down(lg){
    .custom-login-box{
        width: 70%;
    }
}

@include media-breakpoint-down(md){
    .custom-login-box{
        width: 90%;
    }
}

// Register Form