@import 'app';

.btn-success{
    --bs-btn-bg: limegreen;
    --bs-btn-border-color: limegreen;
    --bs-btn-hover-bg: #{shade-color(limegreen, 10%)};
    --bs-btn-hover-border-color: #{shade-color(limegreen, 10%)};
}

.main-text-container{
    height: 75vh;
}

.main-text-big{
    color: white;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 5px 5px 3px rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif;
}

.main-text-sub{
    color: rgb(180, 180, 180);
    font-size: 18px;
}

.tools-section > .card{
    color: white;
    width: 18rem;
    height: 70vh;
    transition: transform 0.2s ease-in-out;
}

.tools-section > .card:hover{
    transform: scale(1.05);
}

.link-overlay{
    z-index: 9999;
}

.card-img-top{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.card-text{
    font-size: 14px;
}

#card-tools-1{
    background-color: $accent-blue;
    box-shadow: 
    1px 1px 0 $primary-blue,
    2px 2px 0 $primary-blue,
    3px 3px 0 $primary-blue,
    4px 4px 0 $primary-blue,
    5px 5px 0 $primary-blue,
    6px 6px 0 $primary-blue,
    7px 7px 0 $primary-blue;
}

#card-tools-2{
    background-color: #dc0000;
    box-shadow: 
    1px 1px 0 #850000,
    2px 2px 0 #850000,
    3px 3px 0 #850000,
    4px 4px 0 #850000,
    5px 5px 0 #850000,
    6px 6px 0 #850000,
    7px 7px 0 #850000;
}

#card-tools-3{
    background-color: limegreen;
    box-shadow: 
    1px 1px 0 #3b7f4c,
    2px 2px 0 #3b7f4c,
    3px 3px 0 #3b7f4c,
    4px 4px 0 #3b7f4c,
    5px 5px 0 #3b7f4c,
    6px 6px 0 #3b7f4c,
    7px 7px 0 #3b7f4c;
}

@include media-breakpoint-down(md){
    .main-text-big{
        font-size: 30px;
    }
}

@include media-breakpoint-down(sm){
    .main-text-big{
        font-size: 26px;
    }

    .main-text-sub{
        font-size: 16px;
    }
}

// FLASHCARDS

.abs-center{
    left: 50%;
    transform: translateX(-50%);
}

.card-set{
    height: 90px;
    border-radius: 10px;
    box-shadow: 
    1px 1px 0 #c3c3c3,
    2px 2px 0 #c3c3c3,
    3px 3px 0 #c3c3c3,
    4px 4px 0 #c3c3c3,
    5px 5px 0 #c3c3c3;
}

#createSet,
#addCat{
    background-color: #dc0000;
    box-shadow: 
    1px 1px 0 #850000,
    2px 2px 0 #850000,
    3px 3px 0 #850000,
    4px 4px 0 #850000,
    5px 5px 0 #850000;
}

.card-click-animation{
    transition: transform 0.2s ease-in-out;
}

.card-click-animation:hover{
    transform: scale(1.02);
}

.card-click-animation.clicked{
    transform: scale(0.98);
}

.flashcard-set-desc{
    font-size: 13px;
    min-height: 20px;
    color: $secondary;
}

.flashcard-set-tag{
    font-size: 13px;
    color: white;
    background-color: #929292;
    width: fit-content;
}

.card-create-cat{
    height: 45px;
    border-radius: 10px;
    box-shadow: 
    1px 1px 0 #c3c3c3,
    2px 2px 0 #c3c3c3,
    3px 3px 0 #c3c3c3,
    4px 4px 0 #c3c3c3,
    5px 5px 0 #c3c3c3;

    --bs-btn-active-border-color: transparent;
}

.card-select-cat{
    @extend .card-create-cat;

    border-left: 13px solid black;

    --bs-btn-active-border-color: #c3c3c3;
    --bs-btn-hover-border-color: #c3c3c3;
    --bs-btn-border-color: #c3c3c3;
}

.clr-field input{
    height: 30px;
    padding-left: 0.5rem;
    cursor: pointer !important;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clr-field button{
    width: 22px !important;
    height: 22px !important;
    border-radius: 5px;
    right: 5px !important;
}

.fade-element{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.fade-element.hidden-fade{
    opacity: 0 !important;
}

.flashcard-open-url{
    text-decoration: none;
    color: inherit;

    &:hover{
        color: inherit;
    }
}

.flashcards-card{
    @extend .card-set;
    height: fit-content;
}

.add-card-textarea{
    resize: none;
    height: 80px;
}