@import 'app';

.main-text-container{
    height: 75vh;
}

.main-text-big{
    color: white;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 5px 5px 3px rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif;
}

.main-text-sub{
    color: rgb(180, 180, 180);
    font-size: 18px;
}

.tools-section > .card{
    color: white;
    width: 18rem;
    height: 70vh;
    transition: transform 0.2s ease-in-out;
}

.tools-section > .card:hover{
    transform: scale(1.05);
}

.link-overlay{
    z-index: 9999;
}

.card-img-top{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.card-text{
    font-size: 14px;
}

#card-tools-1{
    background-color: $accent-blue;
    box-shadow: 
    1px 1px 0 $primary-blue,
    2px 2px 0 $primary-blue,
    3px 3px 0 $primary-blue,
    4px 4px 0 $primary-blue,
    5px 5px 0 $primary-blue,
    6px 6px 0 $primary-blue,
    7px 7px 0 $primary-blue;
}

#card-tools-2{
    background-color: #dc0000;
    box-shadow: 
    1px 1px 0 #850000,
    2px 2px 0 #850000,
    3px 3px 0 #850000,
    4px 4px 0 #850000,
    5px 5px 0 #850000,
    6px 6px 0 #850000,
    7px 7px 0 #850000;
}

#card-tools-3{
    background-color: limegreen;
    box-shadow: 
    1px 1px 0 #3b7f4c,
    2px 2px 0 #3b7f4c,
    3px 3px 0 #3b7f4c,
    4px 4px 0 #3b7f4c,
    5px 5px 0 #3b7f4c,
    6px 6px 0 #3b7f4c,
    7px 7px 0 #3b7f4c;
}

@include media-breakpoint-down(md){
    .main-text-big{
        font-size: 42px;
    }
}

// FLASHCARDS

.card-set{
    height: 90px;
    border-radius: 10px;
    box-shadow: 
    1px 1px 0 #c3c3c3,
    2px 2px 0 #c3c3c3,
    3px 3px 0 #c3c3c3,
    4px 4px 0 #c3c3c3,
    5px 5px 0 #c3c3c3;
}

#createSet,
#addCat{
    background-color: #dc0000;
    box-shadow: 
    1px 1px 0 #850000,
    2px 2px 0 #850000,
    3px 3px 0 #850000,
    4px 4px 0 #850000,
    5px 5px 0 #850000;
}

.card-click-animation{
    transition: transform 0.2s ease-in-out;
}

.card-click-animation:hover{
    transform: scale(1.01);
}

.card-click-animation.clicked{
    transform: scale(0.99);
}

.flashcard-set{
    border-left: 13px solid limegreen;
    // Remove ^ later

}

.flashcard-set-desc{
    font-size: 13px;
    color: $secondary;
}

.flashcard-set-tag{
    font-size: 13px;
    color: white;
    background-color: #929292;
    width: fit-content;
}

.card-select-cat{
    height: 45px;
    border-radius: 10px;
    box-shadow: 
    1px 1px 0 #c3c3c3,
    2px 2px 0 #c3c3c3,
    3px 3px 0 #c3c3c3,
    4px 4px 0 #c3c3c3,
    5px 5px 0 #c3c3c3;
}